/* Main */

main {
  padding: .5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main > h2 {
  margin: 0.5rem 0;
  padding: 0.5rem 0;

  border-bottom: hsl(0, 0%, 85%) .125rem solid;

  font-size: xx-large;
}
