div {
  /* Aumenta a div para quebrar 1 div em tela cheia */
  min-height: 250px;
  min-width: 400px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  align-content: flex-start;
  flex-wrap: wrap;

  gap: 1.5rem;
}